/* .container{
    margin:auto
} */
html,body{
    height: 100%;
    width: 100%;
}
.button{
    padding: 14px;
    margin: 0 6px;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
.container{
    align-items: center;
}
.row{
    margin: 8px 0;
}
.row input{
    font-size: medium;
margin: 1;
padding: 6px 12px 6px 12px;
border-radius: 5px;
border: 2px slid black;
}